#%RAML 0.8
title: Mythical Logistics Inc Shipping API
version: 1.0
baseUri: http://mythical.cloudhub.io/api/{version}/shipping
documentation: 
  - title: Mythical Logistics Shipping Quote and Shipment API Documentation
    content: Register Partner in Direcotry, Get Partner Profile
mediaType: application/json
/quote:
  get:
    queryParameters:
      object:
          displayName: Shipped object packaging!
          type: string
          enum: ["box", "parcel", "pallet", "crate"]
          description: The type of shipment - parcel/box/pallet/crate/etc
          example: "crate"
          required: true
      volume:
          displayName: Volume in Cubic Feet
          type: number
          description: Volume as length x width x height dimensions in feet
          example: 120
          required: true
      weight:
          displayName: Weight in pounds
          type: number
          description: Total weight in pounds
          example: 25
          required: true
      origin:
          displayName: Originating port
          type: string
          description: The port of origin. Accepts 3-letter code or full name
          example: "LAX"
          required: false
      coordinates:
          displayName: GPS co-ordinates
          type: string
          description: Lat-Long GPS co-ordinates obtained from smart phones for intelligent pickup/dropoff/origin-port info
          example: " 37.764213 -122.482664"
          required: false
      destination:
          displayName: Destination port
          type: string
          description: The port of final destination. Accepts 3 letter code or full name
          example: "DFW"
          required: true
      service:
          displayName: Service Type
          type: string
          enum: ["Air", "PriorityAir", "Ground", "PriorityGround", "Ship"]
          description: Type of Service - Air/Ground/Ship and Priority
          example: "Ship"
          required: true
    responses:
      200:
        description: Quote amount and id. Quote ID can be used for a subsequent ship request
        body:
          application/json:
              example: |
                    {
                      "quote_id": "quotWDv2VzHp",
                      "created_at": "2013-04-22T05:40:57Z",
                      "currency": "USD",
                      "amount": 23.34
                    }
/shipment:
  post:
      description: Request a new shipment from quote
      body:
        application/json:
          example: |  
                    {
                      "account_number": "102873635",
                      "quote_id": "prclWDv2VzHp",
                      "object": "Crate",
                      "length": 20.2,
                      "width": 10.9,
                      "height": 5.0,
                      "weight": 65.9,
                      "destination": "LAX",
                      "origin": "SFO",
                      "service": "PriorityAir",
                      "customs_declaration": "Mule Apparel",
                      "customs_declared_value": 1232
                    }
      responses:
        200:
          body:
            application/json:
              example: |
                    {
                      "shipment_id": "prclWDv2VzHp",
                      "tracking_number": "34183941734713048",
                      "created_at": "2013-04-22T05:40:57Z",
                      "pickup_time": "2013-04-23T09:30:00Z"
                      "scan_form": "sf_m4WmYiew"
                    }
  /{shipment_id}:
    get:
      description: Get shipment status and Tracking information by shipment ID
      queryParameters:
        id: 
          displayName: Shipment ID
          type: string
          description: The ID returned when this shipment was originally created
          example: "prclWDv2VzHp"
          required: true
      responses:
        200:
          body:
            application/json:
              example: |
                    {
                      "tracking_number": "34183941734713048",
                      "created_at": "2013-04-22T05:40:57Z",
                      "pickup_time": "2013-04-23T09:30:00Z",
                      "status": "delivered",
                      "scan_form": "sf_m4WmYiew"
                    }